<IfModule php5_module>
  php_value upload_max_filesize "900M"
  php_value post_max_size "900M"
  php_value max_execution_time 86400
  php_value memory_limit 2000M
  php_value max_input_time 46800
</IfModule>